Source: python-kombu
Section: python
Priority: extra
Maintainer: SimpleGeo Nerds <nerds@simplegeo.com>
Uploaders: Ian Eure <ian@simplegeo.com>
Build-Depends: cdbs,
 debhelper (>= 7),
 python,
 python-setuptools,
 python-support
Standards-Version: 3.8.4
Homepage: http://github.com/ask/kombu

Package: python-kombu
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python-anyjson
Description: AMQP messaging framework for Python
 AMQP is the Advanced Message Queuing Protocol, an open standard
 protocol for message orientation, queuing, routing, reliability and
 security.
 .
 One of the most popular implementations of AMQP is RabbitMQ.
 .
 The aim of Kombu is to make messaging in Python as easy as possible
 by providing an idiomatic high-level interface for the AMQP protocol,
 and also provide proven and tested solutions to common messaging
 problems.
